<configuration>

  <!--
  # this variables have to be replaced
  # * ES_HOST
  # ** hostname of ElastisSearch 2.x cluster, without a protocol, e.g. localhost
  # * ES_PORT_HTTP
  # ** e.g. 9200
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%date{ISO8601} %-5level - %msg -[%logger{36}] - [%thread]%n</pattern>
    </encoder>
  </appender>

  <appender name="JSONSTDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <timeZone>UTC</timeZone>
    </encoder>
  </appender>

  <logger name="com.ubirch" level="DEBUG"/>
  <logger name="akka.actor" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="JSONSTDOUT"/>
    <!--<appender-ref ref="STDOUT"/>-->
  </root>
</configuration>